* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #1E1E1E;
}

#header {
	margin: 0 auto;
	background-color: purple;
	text-align: center;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	color: white;
	height: 60px;
}

#header h1 {
	padding-top: 10px;
}

#container {
	width: 100%;
	float: left;
	margin: 0 auto;
}

#left {
	width: 20%;
	float: left;
	height: 550px;
	background-color: pink;
	text-align: center;
	margin: 40px 20px 0px 20px;
	display: block;
	font-family: 'Roboto', sans-serif;
	border-style: solid;
	border-width: 3px;
	border-color: #790086;
	background: radial-gradient(blue, purple);
	color: white;
}

#left h1 {
	margin: 20px 0px 20px 0px;
}

#left li {
	margin-top: 30px;
	list-style-type: none;
}

#info {
	width: 60%;
	float: right;
	height: 550px;
	background-color: purple;
	text-align: center;
	margin: 40px 20px 0px 20px;
	display: block;
	font-family: 'Roboto', sans-serif;
	font-size: 19px;
	padding: 0px 10px 0px 10px;
	border-style: solid;
	border-width: 3px;
	border-color: #790086;
	background: radial-gradient(blue, purple);
	color: white;
}

#info h1 {
	margin: 20px 0px 20px 0px;
}

#footer {
	background-color: purple;
	float: left;
	height: 40px;
	width: 100%;
	text-align: center;
	margin-top: 20px;
	position: absolute;
	bottom: 0;
	font-family: 'Roboto', sans-serif;
	color: white;
}

#footer h1 {
	padding-top: 10px;
	font-size: 15px;
}

a {
	color: white;
	border-style: solid;
	border-radius: 5px;
	border-color: purple;
	padding: 5px;
	background-color: #1E1E1E;
	text-decoration: none;
}

